[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
[submodule "jinju0809.github.io"]
	path = jinju0809.github.io
	url = https://github.com/jinju0809/jinju0809.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/jinju0809/jinju0809.github.io.git
	branch = master
[submodule "thems/hugo-tanka"]
	path = thems/hugo-tanka
	url = https://github.com/nanxstats/hugo-tanka.git
[submodule "themes/hugo-tanka"]
	path = themes/hugo-tanka
	url = https://github.com/nanxstats/hugo-tanka.git
